<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <a href="#" class="footer__copy">©HOTEL Official 2022</a>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">Privacy policy</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Cookies</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Terms of service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>